*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Sans-Seirf";
}

:root{
    --darkmode:#2A3B49;
    --cyan: #7BFFE9;
}

a{
    text-decoration: none;
    color:white;
}

.black{
    color: black;
}

.white{
    color:white;
}

.cyan{
    color: var(--cyan);
}

.bgDark {
    background-color: var(--darkmode);
}


.flex {
    display: flex;
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.spaceAround {
    justify-content: space-around;
}

.spaceBetween{
    justify-content: space-between;
}

.alignCenter{
    align-items: center;
}

.textCenter{
    text-align: center;
}


/* Heading Styling */
nav{
    flex-basis: 20%;
    background-color: tomato;
}